* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: url("../images/brick.jpg");
    font-family: Anton;
}

.container {
    width:960px;
}

#sesame-header {
    height:250px;
    width:1000px;
}

#form {
    color:white;
}

.sesame-btn {
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: #00a771;
    border-color: #ffe500;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
}